body {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.wrapper {
  padding: 24px;
}

.header {
}

.headerHeader {
  font-size: 24px;
}

.body {
  margin-top: 24px;
}

.bodyHeader {
  font-size: 18px;
  margin-bottom: 12px;
}

.bodyRow {
  height: 40px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.bodyRow > div:nth-child(2) {
  margin-left: 12px;
}

.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}

.flexRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
